<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style type="text/css">
        body {background-color: beige ;}
        #redd{
            color: red;
        }
        #bluee{
            color: blue;
        }
        #yelloww{
            color: yellow;
        }
        #greenn{
            color: lightgreen;
        }
        #h2{
            color: black;
        }
    </style>
</head>
<body>
    <h1><b id="redd">e</b>
        <b id="bluee">b</b>
        <b id="yelloww">a</b>
        <b id="greenn">y</b>
    </h1>
    <h2 id="h2"> welcome to ebay!!  enjoy shoping
    </h2>
</body>
</html>